<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <style type="text/css">
        #Text1 {
            width: 178px;
        }
        #Text2 {
            width: 178px;
        }
        #Text3 {
            width: 178px;
        }
        #Text4 {
            width: 178px;
        }
        #Text5 {
            width: 178px;
        }
        #Text6 {
            width: 178px;
        }
        #Text7 {
            width: 178px;
        }
    </style>
</head>
<body>

    <p>
        Add New User</p>
    <p>
        First Name:&nbsp;
        <input id="Text1" type="text" /></p>
    <p>
        Last Name:&nbsp; <input id="Text2" type="text" /></p>
    <p>
        Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="Text4" type="text" /></p>
    <p>
        Phone:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="Text5" type="text" /></p>
    <p>
        User Name:&nbsp;
        <input id="Text3" type="text" /></p>
    <p>
        Password:&nbsp;&nbsp;&nbsp;
        <input id="Password1" type="password" /></p>
    <p>
        Notes:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="Text7" type="text" /></p>
    <p>
        <input id="Reset1" type="reset" value="reset" /><input id="Submit1" type="submit" value="submit" /></p>
    <p>
        &nbsp;</p>

</body>
</html>
