<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>

    <p>
        Add New Equipment</p>
    <p>
        Name:<input id="Text1" type="text" /></p>
    <p>
        Serial Number:<input id="Text2" type="text" /></p>
    <p>
        Type:<input id="Text3" type="text" /></p>
    <p>
        Warranty Expiration Date:<input id="Text4" type="text" /></p>
    <p>
        Purchase Date:<input id="Text5" type="text" /></p>
    <p>
        Manufacturer:<input id="Text6" type="text" /></p>
    <p>
        Internal Part Number:<input id="Text7" type="text" /></p>
    <p>
        Preventative Maintenance Schedule:</p>
    <p>
        <input id="Radio1" checked="true" name="R1" type="radio" value="V1" />One week&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input id="Radio3" checked="true" name="R3" type="radio" value="V1" />Two Weeks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="Radio5" checked="true" name="R5" type="radio" value="V1" />One Month&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="Radio7" checked="true" name="R7" type="radio" value="V1" />Three Months&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p>
        <input id="Radio2" checked="true" name="R2" type="radio" value="V1" />Six Months&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="Radio4" checked="true" name="R4" type="radio" value="V1" />One Year&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="Radio6" checked="true" name="R6" type="radio" value="V1" />Two Years&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="Radio8" checked="true" name="R8" type="radio" value="V1" />Five Years</p>
    <p>
        Vendor Contact Notes:<input id="Text8" type="text" /></p>

</body>
</html>
