<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>

    <p>
        Add New Equipment</p>
    <form action="{% url 'PM:addEq'%}" method="post">
        {% csrf_token %}
    <p>
        Name:<input id="Text1" type="text" name="name" /></p>

    <p>
        Serial Number:<input id="Text2" type="text" name = "serial_num"/></p>
    <p>
        Type:<input id="Text3" type="text" name = "type"/></p>
    <p>
        Warranty Expiration Date:<input id="Text4" type="date" name = "warranty_expir_date"/></p>
    <p>
        Purchase Date:<input id="Text5" type="date" name = "purchase_date"/></p>
    <p>
        Manufacturer:<input id="Text6" type="text" name = "manufacturer_date"/></p>
    <p>
        Internal Part Number:<input id="Text7" type="text" name = "internal_part_num"/></p>
    <p>
        Preventative Maintenance Schedule:</p>

    <p>
        <input id="Radio1"  name="schedule" type="radio" value="1" />
        One week&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <input id="Radio3"  name="schedule" type="radio" value="3" />
        Two Weeks&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <input id="Radio5"  name="schedule" type="radio" value="5" />
        One Month&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <input id="Radio7"  name="schedule" type="radio" value="7" />
        Three Months&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p>
        <input id="Radio2"  name="schedule" type="radio" value="2" />
        Six Months&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <input id="Radio4"  name="schedule" type="radio" value="4" />
        One Year&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <input id="Radio6"  name="schedule" type="radio" value="6" />
        Two Years&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <input id="Radio8"  name="schedule" type="radio" value="8" />
        Five Years</p>

        <p>
            Vendor Contact Notes:<input id="Text8" name="note" type="text" /></p>

        <p>
            <input id="Reset1" type="reset" value="reset" />
            <input id="Submit1" type="submit" value="submit" />
        </p>
    </form>
</body>
</html>
