<!DOCTYPE html>
<html>
    <head>
    <title></title>
	<meta charset="utf-8" />
    <style type="text/css">
        #Select1 {
            width: 134px;
        }
        #Select2 {
            width: 134px;
        }
        #Select3 {
            width: 134px;
        }
        #Select4 {
            width: 134px;
        }
        #Select5 {
            width: 135px;
        }
        #Select6 {
            width: 135px;
        }
        #Select7 {
            width: 135px;
        }
        #Select8 {
            width: 135px;
        }
    </style>
</head>
    <body>
        <form action = "" method="post">
            <p>
                Add One Week Scheduled Maintenance</p>
            <p>
                Serial Number:<input id="Text1" name= "serial_num" type="text" /></p>
            
            <p>
                Internal Part Number:<input id="Text2" name= "internal_part_num" type="text" /></p>
            
            <p title="Type">
                Tools Required:&nbsp;&nbsp;&nbsp; Quantity&nbsp;&nbsp;&nbsp;

                <select id="Select1" name="ToolQty">
                    <option></option>
                </select>&nbsp;&nbsp;

                Type&nbsp;&nbsp;&nbsp;&nbsp;

                <select id="Select2" name="ToolType">
                    <option></option>
                </select>&nbsp;&nbsp;&nbsp;

                <input id="Button1" name= "" type="button" value="Add" /></p>
            
            <p>
                Consumables Required:&nbsp;&nbsp;&nbsp; Quantity&nbsp;&nbsp; <select id="Select3" name="Qty0">
                <option></option>
                </select>&nbsp;&nbsp;&nbsp; Type&nbsp;&nbsp;&nbsp;&nbsp; <select id="Select4" name="Qty1">
                    <option></option>
                </select>&nbsp;&nbsp;&nbsp; <input id="Button2" name= "" type="button" value="Add" /></p>
            
            <p>
                Maintenance Form</p>
            
            <p>
                <table style="width:100%;">
                    <tr>
                        <td>Name</td>
                        <td>Required (Yes or No)</td>
                        <td>Field Type (Y/N, Numeric, Text)</td>
                    </tr>

                    <tr>
                        <td>
                            <input id="Text3" name= "" type="text" /></td>
                            <td>
                                <select id="Select5" name="D1">
                                    {% for et in lalala%}
                                    <option>{{et}}</option>
                                    {% endfor %}
                                </select></td>
                            <td>
                                <select id="Select6" name="D2">
                                    <option></option>
                                </select></td>
                    </tr>
                    
                    <tr>
                        <td>
                            <input id="Text4" name= "" type="text" /></td>
                            <td>
                                <select id="Select7" name="D3">
                                    <option></option>
                                </select></td>
                            <td>
                                <select id="Select8" name="D4">
                                    <option></option>
                                </select><input id="Button3" name= "" type="button" value="Add" /></td>
                    </tr>
                </table>
            </p>
        </form>   
    </body>
</html>
