{% include 'PM/formHead.html' %}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> Add Weekly Scheduled Maintenance</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Maintenance Detail
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" action = "{% url 'PM:addMT' %}" method="post">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <label>Name</label>
                                            <input class="form-control"  name= "name" type="text" />
                                            
                                            <label>Serial Number:</label>
                                            <input class="form-control"  name= "serial_num" type="text" />

                                            <label>Internal Part Number:</label>
                                            <input class="form-control"  name= "internal_part_num" type="text" />
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Tools Required 1:</label>                
                                            <p class="form-control-static">Name</p>
                                            <select class="form-control" name="ToolName">
                                                <option></option>
                                            </select>


                                            <p class="form-control-static">Quantity</p>
                                            <select class="form-control" name="ToolQty">
                                                <option></option>
                                            </select>

                                            <label>Tools Required 2:</label>          
                                            <p class="form-control-static">Name</p>
                                            <select class="form-control" name="ToolName">
                                                <option></option>
                                            </select>


                                            <p class="form-control-static">Quantity</p>
                                            <select class="form-control" name="ToolQty">
                                                <option></option>
                                            </select>

                                            <label>Tools Required 3:</label>                     
                                            <p class="form-control-static">Name</p>
                                            <select class="form-control" name="ToolName">
                                                <option></option>
                                            </select>


                                            <p class="form-control-static">Quantity</p>
                                            <select class="form-control" name="ToolQty">
                                                <option></option>
                                            </select>
                                        </div>                                        
                                            
                                        
                                        <label>
                                            Maintenance Form
                                        </label><br>

                                        <div class='form-group'>
                                            <label>Name <input name = 'mfname' type='text'/></label>
                                            <label>Required  <select class='form-control' name = 'mfreq'>
                                                <option>No</option>
                                                <option>Yes</option></select>
                                            </label>
                                            <label>Field Type  <select class='form-control' name = 'mffieldtype'>
                                                <option>Text</option>
                                                <option>Number</option>
                                                <option>Date</option>
                                            </select>
                                            </label>
                                        </div>
                                        <div class='form-group'>
                                            <label>Name <input name = 'mfname' type='text'/></label>
                                            <label>Required  <select class='form-control' name = 'mfreq'>
                                                <option>No</option>
                                                <option>Yes</option></select>
                                            </label>
                                            <label>Field Type  <select class='form-control' name = 'mffieldtype'>
                                                <option>Text</option>
                                                <option>Number</option>
                                                <option>Date</option>
                                            </select>
                                            </label>
                                        </div>
                                        <div class='form-group'>
                                            <label>Name <input name = 'mfname' type='text'/></label>
                                            <label>Required  <select class='form-control' name = 'mfreq'>
                                                <option>No</option>
                                                <option>Yes</option></select>
                                            </label>
                                            <label>Field Type  <select class='form-control' name = 'mffieldtype'>
                                                <option>Text</option>
                                                <option>Number</option>
                                                <option>Date</option>
                                            </select>
                                            </label>
                                        </div>
                                        <div class='form-group'>
                                            <label>Name <input name = 'mfname' type='text'/></label>
                                            <label>Required  <select class='form-control' name = 'mfreq'>
                                                <option>No</option>
                                                <option>Yes</option></select>
                                            </label>
                                            <label>Field Type  <select class='form-control' name = 'mffieldtype'>
                                                <option>Text</option>
                                                <option>Number</option>
                                                <option>Date</option>
                                            </select>
                                            </label>
                                        </div>
                                        <div class='form-group'>
                                            <label>Name <input name = 'mfname' type='text'/></label>
                                            <label>Required  <select class='form-control' name = 'mfreq'>
                                                <option>No</option>
                                                <option>Yes</option></select>
                                            </label>
                                            <label>Field Type  <select class='form-control' name = 'mffieldtype'>
                                                <option>Text</option>
                                                <option>Number</option>
                                                <option>Date</option>
                                            </select>
                                            </label>
                                        </div>
                                        <div class='form-group'>
                                            <label>Name <input name = 'mfname' type='text'/></label>
                                            <label>Required  <select class='form-control' name = 'mfreq'>
                                                <option>No</option>
                                                <option>Yes</option></select>
                                            </label>
                                            <label>Field Type  <select class='form-control' name = 'mffieldtype'>
                                                <option>Text</option>
                                                <option>Number</option>
                                                <option>Date</option>
                                            </select>
                                            </label>
                                        </div>
                                        <div class='form-group'>
                                            <label>Name <input name = 'mfname' type='text'/></label>
                                            <label>Required  <select class='form-control' name = 'mfreq'>
                                                <option>No</option>
                                                <option>Yes</option></select>
                                            </label>
                                            <label>Field Type  <select class='form-control' name = 'mffieldtype'>
                                                <option>Text</option>
                                                <option>Number</option>
                                                <option>Date</option>
                                            </select>
                                            </label>
                                        </div>
                                        <div class='form-group'>
                                            <label>Name <input name = 'mfname' type='text'/></label>
                                            <label>Required  <select class='form-control' name = 'mfreq'>
                                                <option>No</option>
                                                <option>Yes</option></select>
                                            </label>
                                            <label>Field Type  <select class='form-control' name = 'mffieldtype'>
                                                <option>Text</option>
                                                <option>Number</option>
                                                <option>Date</option>
                                            </select>
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <label>Preventative Maintenance Schedule:</label>
                                            
                                            
                                            <div class="radio">
                                                <label><input id="Radio1"  name="schedule" type="radio" value="1" />
                                                    One week
                                                </label>
                                            </div>
                                            
                                            <div class="radio">
                                                <label><input id="Radio3"  name="schedule" type="radio" value="2" />
                                                    Two weeks
                                                </label>
                                            </div>
                                            
                                            <div class="radio">
                                                <label><input id="Radio5"  name="schedule" type="radio" value="4" />
                                                    Four weeks
                                                </label>
                                            </div>
                                            
                                            <div class="radio">
                                                <label><input id="Radio7"  name="schedule" type="radio" value="10" />
                                                    Ten weeks
                                                </label>
                                            </div>
                                            
                                            <div class="radio">
                                                <label><input id="Radio2"  name="schedule" type="radio" value="20" />
                                                    Twenty weeks
                                                </label>
                                            </div>
                                            
                                        </div>
                                        
                                        
                                        <button class="btn btn-default" type="reset" value="reset">Reset</button>
                                        <button class="btn btn-default" type="submit" value="submit">Submit</button>
                                    </form>   
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
</div>
{% include 'PM/formTail.html' %}
