{% include 'PM/formHead.html' %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Safety Check Form</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                
                <div class="panel-heading">
                    Safety Check Form
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form" action = "{% url 'PM:safetyCheck' %}" method="post">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label>Location:</label>
                                    <input class="form-control" type="text" name="location"/>

                                    <label>Description:</label>
                                    <input class="form-control" type="text" name="descrip"/>

                                    <label>Brand Name:</label>
                                    <input class="form-control" type="text" name="brandname"/>

                                    <label>Inspection Date:</label>
                                    <input class="form-control" type="text" name="inspectiondate"/>

                                    <label>Inspection By:</label>
                                    <input class="form-control" type="text" name="inspectionby"/>

                                    <label>Next Inspection Date:</label>
                                    <input class="form-control" type="text" name="nextinspectiondate"/>

                                    <label>Condition Of Item</label>
                                    <div class="radio">
                                        <label><input name="conditionY" type="radio"/>
                                            Pass
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label><input name="conditionN" type="radio"/>
                                            Fail
                                        </label>
                                    </div>                                    

                                    <label>Comments</label>
                                    <textarea class="form-control" row="4" type="text" name="comments">
                                    </textarea>                                    
                                </div>
                                
                                
                                <button class="btn btn-default" type="reset" value="reset">Reset</button>
                                <button class="btn btn-default" type="submit" value="submit">Submit</button>
                            </form>   
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% include 'PM/formTail.html' %}
