{% include 'PM/formHead.html' %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Work Order Request</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                
                <div class="panel-heading">
                    Work Order Request Detail
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form" action = "/viewOrders/{{orderNumber}}/" method="post">
                                {% csrf_token %}
                                <fieldset disabled>
                                <div class="form-group">
                                    <label>Date Requested:</label>
                                    <input class="form-control" type="date" name="dateReq" placeholder="{{dateReq}}"/>

                                    <label>Requested By:</label>
                                    <input class="form-control" type="text" name="reqBy" placeholder="{{reqBy}}"/>

                                    <label>Building:</label>
                                    <input class="form-control" type="text" name="building" placeholder="{{building}}"/>

                                    <label>Floor:</label>
                                    <input class="form-control" type="text" name="floor" placeholder="{{floor}}"/>

                                    <label>Room:</label>
                                    <input class="form-control" type="text" name="room" placeholder="{{room}}"/>

                                    <label>Supervisor:</label>
                                    <input class="form-control" type="text" name="supervisor" placeholder="{{supervisor}}"/>

                                </div>
                                
                                <div class="form-group">
                                    <label>Work Requested</label>
                                    <textarea class="form-control" row="4" name="workrequested" > {{workrequested}}
                                    </textarea>
                                </div>

                                <div class="form-group">
                                    <label>Work Order</label>
                                    <input class="form-control" type="text" name="workOrder" placeholder="{{workOrder}}"/>

                                    <label>Date Issued</label>
                                    <input class="form-control" type="date" name="dateIssued" placeholder="{{dateIssued}}"/>

                                    <label>Employee</label>
                                    <input class="form-control" type="text" name="employee" placeholder="{{employee}}"/>


                                </div>

                                <div class="form-group">
                                    <label>Materials Used/Comments</label>
                                    <textarea class="form-control" row="4" type="text" name="materialsused" > {{materialsused}}
                                    </textarea>
                                </div>
                                </fieldset>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="complete" {{complete}}>Completed
                                    </label>
                                </div>
                                
                                <button class="btn btn-default" type="reset" value="reset">Reset</button>
                                <button class="btn btn-default" type="submit" value="submit">Submit</button>
                            </form>   
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% include 'PM/formTail.html' %}
